@model FalzoniNetFCSharp.Presentation.Administrator.Models.Configuration.UserModel

@{
    ViewBag.Title = "Inserir novo usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Html.Partial("_Styles")
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    @Html.Partial("_Form", Model)
</div>

@section modals
{
    @Html.Partial("_ModalPhoto")
    @Html.Partial("_ModalSuccess")
    @Html.Partial("_ModalWarning")
    @Html.Partial("_ModalError")
}

@section scripts
{
    @Html.Partial("_Scripts")
}

